:root {
  --color-red: #dc3545;
}
.landing-about{
  background-image: url(../images/background.jpg);
  background-size: cover;
  min-height: 60vh;
  background-position: center;
}
.landing-about .content-about{
  z-index: 10;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(60vh - 80px);
}
.section-one h4{
  font-size: 35px;
  margin-bottom: 15px;
}
.section-one p {
  font-size: 14px;
}
.section-one .button{
  margin-top: 15px;
}

.section-one .button a{
  color: var(--color-red);
}
.section-one .button::before,
.section-one .button::after{
  background-color: var(--color-red);
  width: 25px;
}
.section-one .button:hover a{
  color: white;
}
